<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{ 'LIST_MASTER_TITLE' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addItem()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <!-- <ion-list>
    <ion-item-sliding *ngFor="let item of currentItems">
      <button ion-item (click)="openItem(item)">
        <ion-avatar item-start>
          <img [src]="item.profilePic" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.about}}</p>
        <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note>
      </button>

      <ion-item-options>
        <button ion-button color="danger" (click)="deleteItem(item)">
          {{ 'DELETE_BUTTON' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list> -->
  <ion-item>
    <ion-avatar item-start>
      <img src="assets/img/speakers/bear.jpg">
    </ion-avatar>
    <h2>Italo Ferreira</h2>
    <p>21/10/2017 20:27</p>
  </ion-item>
  <img src="assets/img/eeca-pichado-2.jpg">
  <ion-card-content>
    <p>Muro pixado <br/> Rua Dr. Washington Luiz</p>
  </ion-card-content>
  <ion-card>
    <ion-row>
      <ion-col>
        <button color="secondary" ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
      <ion-col>
        <button color="danger" ion-button icon-left clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Likes</div>
        </button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>